<div class="scroller settings-wrapper settings-panel user-settings-scfr">
  <scfr-settings-control-group label='Information supplémentaires dans la liste des connectés'>
    <scfr-settings-checkbox-group>

      <scfr-settings-checkbox model='settings.displayHandle' title='Afficher les handles RSI des joueurs'>
        Affiche entre crochets le handle RSI des joueurs l'ayant renseignés sur SC.FR dans la liste des joueurs connectés à droite.
      </scfr-settings-checkbox>

      <scfr-settings-checkbox model='settings.displayOrg' title="Afficher l'organisation principale des joueurs" >
        Affiche le logo de l'organisation principale des joueurs l'ayant renseignés sur SC.FR dans la liste des joueurs connectés à droite.
      </scfr-settings-checkbox>

    </scfr-settings-checkbox-group>
  </scfr-settings-control-group>
</div>
