.scfr-member-status {
  position:absolute;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  .scfr-org-logo {
    width: 20px;
    height: 20px;
    margin-left: 6px;
    margin-top: 11px;
    img {
      width:100%;
      height:100%;
      opacity:0.8;
    }
  }
  &:hover {
    .scfr-org-logo > img {opacity:0.9;}
  }
}
.channel-members-wrap {
  flex-direction: column;
  .channel-members .member {
    position:relative;

    .scfr-handle {
      position: relative;
      z-index:10;
      cursor:text;
      -webkit-user-select:text;
      user-select:text;
    }
  }
  .scfr-member-search-bar {
    background: #2C2F33;
    display:flex;
    .scfr-search {
      background: #23272A;
      border: 0px;
      padding: 5px 5px;
      margin: 5px 10px;
      outline: 0px;
      width: 100%;
      color: #cecece;
    }
  }
}
