@import "globals";

.scfr_user_status {
  background: $background_dark;
  border-top: 1px solid $border_dark;
  padding: 10px 5px;
  color:#fff;
  font-size:14px;

  img.logo {
    width:50px;
    float:left;
  }
}

.scfr_modal_background {
  background: rgba(0, 0, 0, 0.85);
  transition:0.5s;
  opacity:1;
}
.scfr_modal_foreground {
  z-index: 4;
  position:relative;
}
