@import "globals";
@import "popout";
@import "settings";

.scfr_user_status {
  background: $background_dark;
  border-top: 1px solid $border_dark;
  padding: 10px 5px;
  color:#fff;
  font-size:14px;

  img.logo {
    width:50px;
    float:left;
  }
}

.scfr_modal_background {
  background: rgba(0, 0, 0, 0.85);
  transition:0.5s;
  opacity:1;
}
.scfr_modal_foreground {
  z-index: 4;
  position:relative;
}

.scfr-alert {
  .markdown-modal-header {
    margin:0px;
    height: 20px;
    button.markdown-modal-close {
      top: 20px;
    }
  }
  .scroller-wrap {
    position:relative;
    .scroller {
      padding:30px 0px;
      img.full-width {
        width:100%;
      }
      .padding-content {
        padding:0px 40px;
      }
    }
  }

  .markdown-modal-footer {
    padding: 0px 28px;
    white-space: nowrap;
  }
}

.form {
  .control-group {
    input[type=text], input[type=password] {
      .novalidate {
        border-bottom:2px solid orange;
      }
      .error {
        border-bottom:2px solid red;
      }
    }
  }
}
